<!DOCTYPE html>
<html>
<head>
  <title>Eurus we do IT better</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-md-2 sidebar-color hidden-sm hidden-xs">
      <%= render 'shared/sidebar'%>
    </div>
    <div class="col-md-10 col-md-offset-2 nav-full">
      <%= render 'shared/navbar'%>
      <div class="container">
        <%= yield %>
      </div>
      
    </div>
  </div>

</body>
</html>
